<%- include('header'); -%>

<h1>About</h1>
<p>It is a Full fledg working To-do list made with the help of HTML,CSS,Javavscript,Node.js,Express.js and our newly learned module EJS , Thanks for this beautiful project !!!</p>

<%- include('footer'); -%>