</body>

<footer>
    Copyright 2023 made by BK
    <p>Learn more about the project </p>
    <a href="/about" style="color: purple;text-decoration: none;display: inline-block;">About</a>

    <p>Head over to the work section </p>
    <a href="/work" style="color: purple;text-decoration: none;display: block;display: inline-block;">Let's Work</a>

    <p>Head over to the Home </p>
    <a href="/" style="color: purple;text-decoration: none;display: block;display: inline-block;">Home</a>
</footer>

</html>